<div class="promo">
  <div class="promo-words">
    <p class="main-changing-promo">Our delivery men are<p><br>
    <p class="changing-promo"></p>
  </div>
  <div class="forward"> 
  </div>
  <div class="backward">
  </div>
  <div class="recently-posted">
    <p>Recently Posted</p>
  </div>
</div>

<div class="recent">
  <% @items.each do |item| %>
  <a href="items/<%= item.id %>">
    <div class="recent-photo">
      <% if !item.item_image.blank? %>
        <%= image_tag item.item_image.url %>
      <% end %>
    </div>
  </a>
  <% end %>
</div>

