<h1 class="info-title">INFO</h1>
<p class="thanks">Thanks for taking a look at my website! you can find some inof about it below</p>
<div class="line"></div>
<a href="https://github.com/CameronPerrin/WDI_21_PROJECT2">
  <div class="github">Git Hub</div>
</a>
<a href="https://github.com/CameronPerrin/WDI_21_PROJECT2/blob/master/README.md">
  <div class="readme">Read Me</div>
</a>