/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
  font-family: montserrat;
  background-color: #0D279D;
}

header{
  nav{
    height: 60px;
    width: 100vw;
    background-color: #3F56C3;
    .title{
      position: absolute;
      padding: 5px 0 0 20px;
      font-size: 50px;
      font-family: montserrat alternates;
      font-weight: 700;
      color: #F2F2F2;
    }
    .links{
      height: 60px;
      width: 70vw;
      float: right;
      background-color: #1735ff;
      display: flex;

      .link{
        background-color: #1735C2;
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 60px;
        flex: 1;
        border-right: 2px solid #1735ff;
        text-align: center;
        vertical-align: top;
        color: #F2F2F2;
        padding: 0 5px;
        position: relative;
        &:hover{
          background-color: #3F56C3;
        }
      }
    }
  }
}

.promo{
  width: 100vw;
  height: 500px;
  background-image: url(promo-photo1.png);
  background-size: cover;
  .promo-words{
    font-family: montserrat;
    margin: 20px;
    font-size: 50px;
    position: absolute;
    width: 580px;
    .changing-promo{
      font-size: 30px;
      font-weight: 700;
      float: right;
      margin: 0 40px 0 0;
    }
  }
  .forward{
    background-image: url(forward.png);
    background-size: cover;
    height: 50px;
    width: 50px;
    position:relative;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .backward{
    background-image: url(backward.png);
    background-size: cover;
    height: 50px;
    width: 50px;
    position: relative;
    top: 50%;
    float: right;
    transform: translateY(-150%);
    cursor: pointer;
  }
  .recently-posted{
    position: relative;
    top: 82%;
    float: right;
    font-size: 30px;
    background-color: #0D279D;
    height: 40px;
    p{
      padding: 5px 5px 0 5px;
    } 
  }
}


.recent{
  max-width: 100vw;
  height: 310px;
  white-space: nowrap;
  overflow-x:auto;
  .recent-photo{
    margin: 5px 2px 0 4px;
    display: inline-block;
    width: 230px;
    height: 300px;
    background-color: white;
    border: 4px solid #051561;
    border-radius: 16px;
    img{
      display: block;
      margin:auto;
      max-width: 100%;
      max-height: 100%;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.items{
  background-color: #3F56C3;
  position: relative;
  max-height: 500px;
  min-height: 500px;
  margin: 0 0 30px 0;
  box-shadow: 8px 8px 0px 0px rgba(0,0,0,0.2);
  .item-name{
    position: absolute;
    text-align: center;
    right: 0;
    top: 0;
    height: 10%;
    width: 50%;
    background-color: #1735C2;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .item-description{
    position: absolute;
    padding: 10px;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 90%;
    background-color: #7787d4;
  }
  .item-categories{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 10%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #1735C2;
  }
  .item-options{
    position: absolute;
    left: 0;
    width: 50%;
    text-align: center;
    z-index: 5;
    a{
      padding: 5px;
      color: #F2F2F2;
    }
  }
  img{
    position: absolute;
    margin: auto;
    max-height: 450px;
    max-width: 50%;
    top: 0;
    bottom: 50px;

  }
}

// .categories{
//   background-color: #3F56C3;
//   position: relative;
//   height: 0;
//   padding-bottom: 200px;
//   margin: 20px 20px 50px 20px;
//   box-shadow: 8px 8px 0px 0px rgba(0,0,0,0.2);
// }

.dummy {
  position: relative;
  width:    25%; /* desired width */
  @media screen and (max-width: 850px) {
    width: 33.333333333%;
  }
  @media screen and (max-width: 550px) {
    width: 50%;
  }
  &:before {
    content:     "";
    display:     block;
    padding-top: 100%; /* initial ratio of 1:1*/
  }
}

.categories {
  background-color: #3F56C3;
  position: absolute;
  margin: 7%;
  top:      0;
  left:     0;
  bottom:   0;
  right:    0;
  box-shadow: 8px 8px 0px 0px rgba(0,0,0,0.2);
}

