/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 input::-webkit-input-placeholder {
    color: black;
    opacity: 0.6 !important;
 }

 input:-moz-placeholder { /* Firefox 18- */
    color: black;
    opacity: 0.6 !important;  
 }

 input::-moz-placeholder {  /* Firefox 19+ */
    color: black;
    opacity: 0.6 !important;  
 }

 input:-ms-input-placeholder {  
    color: black;
    opacity: 0.6 !important;  
 }

 input::-webkit-scrollbar { 
  display: none; 
}

body{
  font-family: montserrat;
  background-color: #0D279D;
}

header{
  nav{
    height: 60px;
    width: 100vw;
    background-color: #3F56C3;
    .title{
      position: absolute;
      padding: 5px 0 0 20px;
      font-size: 50px;
      font-family: montserrat alternates;
      font-weight: 700;
      color: #F2F2F2;
    }
    .hamburger{
      @media screen and (min-width: 751px) {
        display: none;
      }
      height: 60px;
      width: 60px;
      background-color: #1735C2;
      position: absolute;
      right: 0;
      text-align: center;
      display: flex;
      justify-content: center;
      flex-direction: column;
      font-size: 40px;
      &:hover{
        cursor: pointer;
      }
    }
    .menu{
      @media screen and (min-width: 751px) {
        display: none;
      }
      height: 91.4vh;
      width: 320px;
      position: absolute;
      right: 0;
      top:60px;
      z-index: 99999999;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      .link{
        @media screen and (min-width: 751px) {
          display: none;
        }
        font-size: 35px;
        flex: 1;
        display: block;
        width: 100%;
        text-align: right;
        display: flex;
        background-color: #1735C2;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        border-bottom: 2px solid #1735ff;
        color: #F2F2F2;
        &:last-child{
          border-bottom: 0;
        }
      }
    }
    .links{
      height: 60px;
      width: 70vw;
      float: right;
      display: flex;
      @media screen and (max-width: 750px) {
        display: none;
      }
      .link{
        background-color: #1735C2;
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 60px;
        flex: 1;
        border-right: 2px solid #1735ff;
        text-align: center;
        vertical-align: top;
        color: #F2F2F2;
        padding: 0 5px;
        position: relative;
        &:hover{
          background-color: #3F56C3;
        }
        &:last-child{
          border-right: 0;
        }
      }
    }
  }
}

.notice{
  text-align: center;
  position:absolute;
  width: 90%;
  height: 40px;
  left:50%;
  margin: 10px 0 0 -45%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #7787d4;
  color: white;
  z-index: 9999999999999999;
  box-shadow: 8px 8px 0px 0px rgba(0,0,0,0.2);
  font-size: 25px;
}
.alert{
  text-align: center;
  position:absolute;
  width: 90%;
  height: 40px;
  left:50%;
  margin: 10px 0 0 -45%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #7787d4;
  color: white;
  z-index: 9999999999999999;
  box-shadow: 8px 8px 0px 0px rgba(0,0,0,0.2);
  font-size: 25px;
}

.exit{
  position: absolute;
  right: 0;
  height: 40px;
  width: 40px;
  background-color: red;
  display: flex;
  justify-content: center;
  flex-direction: column;
  top: 0;
  cursor: pointer;
}







