/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body{
  font-family: montserrat;
  background-color: #0D279D;
}

header{
  nav{
    height: 60px;
    width: 100vw;
    background-color: #3F56C3;
    .title{
      position: absolute;
      padding: 5px 0 0 20px;
      font-size: 50px;
      font-family: montserrat alternates;
      font-weight: 700;
      color: #F2F2F2;
    }
    .links{
      height: 60px;
      width: 70vw;
      float: right;
      background-color: #1735ff;
      display: flex;
      .link{
        background-color: #1735C2;
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 60px;
        flex: 1;
        border-right: 2px solid #1735ff;
        text-align: center;
        vertical-align: top;
        color: #F2F2F2;
        padding: 0 5px;
        position: relative;
        &:hover{
          background-color: #3F56C3;
        }
        &:last-child{
          border-right: 0;
        }
      }
    }
  }
}










