// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-image-show{
  border: 6px solid #051561;
  box-shadow: -8px 8px 0px 0px rgba(0,0,0,0.2);
  border-radius: 100%;
  margin: 30px 30px 0 30px;
  width: 30%;
}

.profile-info-show{
  width: 30%;
  margin: 15px 0 0 30px;
  height: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: -4px 4px 4px 0px rgba(0,0,0,0.2);
  background-color: #1735C2;
}

.wishlist-show{
  position: absolute;
  top: 90px;
  right: 30px;
  max-height: 82%;
  width: 35%;
  overflow-y: auto;
  .wishlist-title{
    width: 35%;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #091E7F;
    color: #F2F2F2;
    position: fixed;
    z-index: 10;
  }
  .wishlist-all-container{
    margin-top: 30px;
    .wishlist-container{
      height: 170px;
      width: 100%;
      display: flex;
      background-color: #1735C2;
      .wishlist-image{
        width: 60px;
        margin: 2.5% 2.5% 2.5% 0;
        background-color: #3F56C3;
        box-shadow: 2px 4px 0px 0px rgba(0,0,0,0.2);
      }
      .wishlist-description{
        flex:1;
        margin: 2.5%;
        overflow-y: hidden;
        color: #F2F2F2;
        padding: 2.5%;
        background-color: #3F56C3;
        box-shadow: 2px 4px 0px 0px rgba(0,0,0,0.2);
        position: relative;
        .read-more{
          position: absolute; 
          bottom: 0; 
          left: 0;
          width: 100%; 
          text-align: center;
          padding: 25px 0 0 0; 
          font-weight: 700;
          color: black;
          background-image: linear-gradient(
            rgba(63, 86, 195,0.5) 0%,
            rgba(63, 86, 195,1) 100%
            );
        }
      }
    }
  }
}
.user-time-show{
  color: lighten(black, 12.5%);
  font-size: 12px;
  position: absolute;
  right: 10px;
  bottom: 2px;
}
