<p id="notice"><%= notice %></p>

<h1>Categories</h1>
<div class="row">
  <% @categories.each do |category| %>
    <div class="medium-3 columns dummy">
      <div class="panel categories">
        <%= link_to category.name, category, class: "category" %>
      </div>
    </div>
  <% end %>
</div>

