<p id="notice"><%= notice %></p>

<div class="row">
  <% @categories.each do |category| %>
    <div class="large-3 medium-4 small-6 columns dummy">
    <%= link_to category do %>
      <div class="panel categories">
        <%= category.name %>
      </div>
    <% end %>
    </div>
  <% end %>
</div>

